/* ------------------Component Styles--------------- */
@import './components/components.css';


/* ------------------Docsite Styles--------------- */
@import './docsite-css/navbar.css';
@import './docsite-css/hero.css';
@import './docsite-css/main.css';
@import './docsite-css/documentation.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root{
    /* random color scheme */
    --color1:#ff3f6c;
    --color2 :#AA1155;
    --color3 :#880044;
    --color4 :#DD1155;
    --color5 :#FFEE88;
    --color6 :#00CC99;
    --color7 :#C41155;
    --color8 :#131200;
/* Gradient Colors */
    --color-1:#1D53FF;
    --color-2:#00A1FF;
    --color-3:#00D4FB;
    --color-4:#62FBD4;


    /* text colors */
    --text-color-black:black;
    --text-color-white:white;
    --text-color-grey: #718096;
    --text-color-light-grey: #a0aec0;
    --text-color-very-light-grey: #cfd6e0;
    --text-color-green: #319795;
    --text-color-light-green:#ecfdfa;

    /* logo colors */
    --logo-color-1 : #5be7c4;
    --logo-color-1-rgb: rgb(91,231,196);
    --logo-color-2 : #7bebcf;
    --logo-color-2-rgb: rgb(123,235,207);

    /* non header font-sizes */
    --font-sm : 1rem;
    --font-md : 1.5rem;
    --font-lg : 1.8rem;
    --font-xl : 2rem;

    /* Colors for alerts */
    --alert-color-primary : #084298;
    --alert-color-primary-bg : #cfe2ff;
    --alert-color-primary-border : #b6d4fe;
    --alert-color-primary-link : #06357a;

    --alert-color-secondary : #41464b;
    --alert-color-secondary-bg : #e2e3e5;
    --alert-color-secondary-border : #d3d6d8;
    --alert-color-secondary-link : #34383c;

    --alert-color-success : #0f5132;
    --alert-color-success-bg : #d1e7dd;
    --alert-color-success-border : #badbcc;
    --alert-color-success-link : #0c4128;

    --alert-color-danger : #842029;
    --alert-color-danger-bg : #f8d7da;
    --alert-color-danger-border : #f5c2c7;
    --alert-color-danger-link : #6a1a21;

    --alert-color-warning : #664d03;
    --alert-color-warning-bg : #fff3cd;
    --alert-color-warning-border : #ffecb5;
    --alert-color-warning-link : #523e02;

    --alert-color-info : #055160;
    --alert-color-info-bg : #cff4fc;
    --alert-color-info-border : #b6effb;
    --alert-color-info-link : #04414d;

    /* Colors for buttons */
    --btn-color-primary:#0d6efd;
    --btn-color-primary-hover:#0857cc;
    
    --btn-color-secondary:#6c757d;
    --btn-color-secondary-hover:#5b6268;
    
    --btn-color-success:#0ab867;
    --btn-color-success-hover:#198754;

    --btn-color-danger:#dc3545;
    --btn-color-danger-hover:#be2e3c;

    --btn-color-warning:#ffc107;
    --btn-color-warning-hover:#ffcd37;
    
    --btn-color-info:#0dcaf0;
    --btn-color-info-hover:#0ab0d1;

    /* Colors for snackbar */
    --snackbar-bg-color:#333;
    --snackbar-font-color:white;
    --snackbar-btn-color: #bb86fc;
    --snackbar-btn-bg-color-hover: #493861;
    --snackbar-btn-bg-color-active: #382b4b;
    --snackbar-icon-btn-hover: hsla(0,0%,100%,.1);
    --snackbar-icon-btn-active: hsla(0,0%,100%,.3);

}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.container{
    height: 100%;
    position: relative;
}

main{
    grid-area: main;
    /* background-color: var(--color2); */
}

.spacer-8rem {
    height: 8rem;
    width: 100%;
}

.threed-img{
    width: 100%;
}
@media screen and (max-width:767px){
    html{
        font-size: 50%;
    }
}

