.documentation-container{
    height: min-content;
    display: flex;
}


.sidenav{
    overflow-y: auto;
    position: sticky;
    top: 0;
    min-width:min-content;
    width: 15%;
    height: 100vh;
    padding: 0 2rem;
    box-shadow: 0px 0px 9px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.sidenav-section__header{
    font-size: 1.7rem;
    margin-top: 2rem;
    padding: 0 2rem;
    font-weight: 700;
    color: var(--text-color-light-grey);
    text-transform: uppercase;
}

.sidenav-section__links{
    font-size: 1.5rem;
    padding: 1.2rem;
}

.sidenav-section__link li{
    padding: 1rem;
    font-weight: 500;
    width: 100%;
    color: var(--text-color-grey);
    border-radius: 0 4px 4px 0;
    list-style: none;
}

.sidenav-section__link li:hover{
    border-left: 2px solid #0d6efd;
    background-color: #ebf3ff;
    color: #094db3;
}

.sidenav-section__div{
    width: 100%;
    display: grid;
    place-items: center;
}
.sidenav-section__divider{
    width: 50%;
    border:0.5px solid var(--text-color-very-light-grey)

}

.main-section{
    padding: 2rem 4rem;
    justify-self: center;
    max-width: 120rem;
    margin: 0 auto;
}

.up-arrow{
    position: fixed;
    right: 5px;
    bottom: 2rem;
}
.component{
    display: flex;
    flex-direction: column;
}

.component__header{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 1rem;
}

.component__header-desc{
    font-size: var(--font-lg);
    margin-bottom: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.component__example-header{
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    
}

.component__example-desc{
    font-size: var(--font-lg);
    margin-bottom: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.component__example-demo{
    height: fit-content;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}
/* ------Styles for containers of different component, some have row layout, others column */

.alert__example-demo-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.avatar__example-demo-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card__example-demo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input__example-demo-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.snackbar__example-demo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 1rem 5rem;
}

.component__example-code{
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color-grey);
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1rem 0;
    height: max-content;
    overflow: auto;
}

.component__example-code iframe{
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    border: none;
}

.code-in-text{
    color: var(--color-1);
}

@media screen and (max-width:768px){
    .sidenav{
        display: none;
    }
}
