.form-field{
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid var(--btn-color-primary);
    border-radius: 4px;
    line-height: 1.5;
    outline: none;
    box-sizing: border-box;
}

.form-field:disabled{
    border: 1px solid var(--text-color-grey);
    background-color: var(--text-color-very-light-grey);
}

.error-border{
    border: 1px solid var(--btn-color-danger);
}

.error-border:focus{
    box-shadow: 0 0 0 1px var(--btn-color-danger);
}

.success-border{
    border: 1px solid var(--btn-color-success);
}

.success-border:focus{
    box-shadow: 0 0 0 1px var(--btn-color-success);
}